<!DOCTYPE HTML>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>

            <% include ./partials/header.ejs %>

        <main>
            <%- body %>
        </main>

        <footer>
            <% include ./partials/footer.ejs %>
        </footer>
    </body>
</html>